
@media all and (max-width:575px){}

/* sm */
@media all and (min-width:576px) and (max-width:767px){}

/* md */
@media all and (min-width:768px) and (max-width:991px){}

/* lg */
@media all and (min-width:991px) and (max-width:1199.5px){}

/* xl */
@media all and (min-width:1200px) and (max-width:1399.5px){}

/* xxl */
@media all and (min-width:1400px){}

.custom-bg{
    background-color: rgb(109, 109, 109);
    padding: 11.5px 24px 9.5px 30px;

}
.custom-link{
    text-decoration: none;
    color: #EEEEEE;
}
.custom-font{
    color: #EEEEEE;
    font-size: 14px;
}
.custom-link:hover{
    text-decoration: underline;
    color: #EEEEEE;
}