
@media all and (max-width:575px){}

/* sm */
@media all and (min-width:576px) and (max-width:767px){}

/* md */
@media all and (min-width:768px) and (max-width:991px){}

/* lg */
@media all and (min-width:991px) and (max-width:1199.5px){}

/* xl */
@media all and (min-width:1200px) and (max-width:1399.5px){}

/* xxl */
@media all and (min-width:1400px){}


a{
    text-decoration: none;
    position: relative;
    font-family: sans-serif;
    color: #EEEEEE;  
}

a:hover{

   z-index: 2;  
   
}

  

a:hover::before{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   border-bottom: solid 1.5px #EEEEEE; 
   width: 100%;
   z-index: -1;
   
}

.arrow-start{
    width: 23.98px;
    
}
.announcement{
    background-color: #888;
    display: ;
    
}
.announcement-color{
    color:#EEEEEE;
    font-size: 14px;
}